.root {
  display: flex;
  margin: 8px;
  font-size: 0.85rem;
  li {
    background-color: #e6f4ff;
    padding: 4px;
    border-radius: 6px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
