.articleList {
  margin-top: 8px;
  .articleListItem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .cardTitle {
      font-size: 1.2rem;
    }

    .cardSummary {
      margin-top: 4px;
    }
  }
}
