.root {
  display: flex;
  margin-top: 8px;
  font-size: 0.85rem;
  li {
    padding: 4px;
    border-radius: 6px;
    color: rgb(var(--link-rgb));

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
