header {
  background: #44617b;
  color: #fff;
  vertical-align: baseline;
  padding: 4px 8px;
}
header > h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
footer {
  background: #44617b;
  color: #fff;
  vertical-align: baseline;
  padding: 4px 8px;
}
main {
  max-width: 800px;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  header > h1 {
    font-size: 18px;
  }
}
