.articleInfo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mainContents {
  margin-top: 1rem;

  p {
    margin-bottom: 1.5rem;
  }

  img {
    max-height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
}
